:root {
	--barranav1: #d09125;
}

html {
	font-size: 100%;
}
body {
	font-size: 16px;
	font-family: 'Krub', sans-serif;
}
.titulo {
	text-align: center;
	font-size: 4.8rem;
}

nav.navbar {
	background-color: var(--barranav1);
}


